export("[<-")
export("[")
export("[[<-")
export("[[")
export("$<-")
export("$")
export("%*%")
export(alois.palette)
export(as.long.df)
export(as.t.df)
export(as.wide.df)
export(bind)
export(cbind.hyperSpec)
export(chk.hy)
export(chondro)
exportClasses(hyperSpec)
export(collapse)
export(colmix.rgb)
export("colnames<-")
export(decomposition)
export(.DollarNames.hyperSpec)
export(empty)
export(hy.getOption)
export(hy.getOptions)
export(hy.setOptions)
export(hy.unittest)
export(i2wl)
export(isample)
export("labels<-")
export(legendright)
export(logbook)
export(logentry)
export(map.identify)
export(map.sel.poly)
export(mark.dendrogram)
export(matlab.dark.palette)
export(matlab.palette)
exportMethods(aggregate)
exportMethods(all.equal)
exportMethods(apply)
exportMethods(Arith)
exportMethods(as.character)
exportMethods(as.data.frame)
exportMethods(as.matrix)
exportMethods(cbind2)
exportMethods(colMeans)
exportMethods(colnames)
exportMethods(colSums)
exportMethods(Compare)
exportMethods(dim)
exportMethods(dimnames)
exportMethods(is.na)
exportMethods(labels)
exportMethods(length)
exportMethods(levelplot)
exportMethods(log)
exportMethods(Math)
exportMethods(Math2)
exportMethods(mean)
exportMethods(mean_pm_sd)
exportMethods(mean_sd)
exportMethods(merge)
exportMethods(ncol)
exportMethods(nrow)
exportMethods(plot)
exportMethods(print)
exportMethods(quantile)
exportMethods(rbind2)
exportMethods(rowMeans)
exportMethods(rownames)
exportMethods(rowSums)
exportMethods(sample)
exportMethods(show)
exportMethods(split)
exportMethods(subset)
exportMethods(summary)
exportMethods(Summary)
exportMethods(sweep)
export(normalize.colrange)
export(normalize.minmax)
export(normalize.range)
export(nwl)
export(orderwl)
export(pearson.dist)
export(plotc)
export(plotmap)
export(plotspc)
export(plotvoronoi)
export(qmixlegend)
export(qplotc)
export(qplotmap)
export(qplotmixmap)
export(qplotspc)
export(rbind.fill.matrix)
export(rbind.hyperSpec)
export(read.ENVI)
export(read.ENVI.Nicolet)
export(read.jdx.Shimadzu)
export(read.spc)
export(read.spc.KaiserMap)
export(read.txt.long)
export(read.txt.Shimadzu)
export(read.txt.wide)
export("rownames<-")
export(scan.txt.Renishaw)
export(scan.txt.Witec)
export(scan.zip.Renishaw)
export(sel.poly)
export(spc.bin)
export(spc.fit.poly)
export(spc.fit.poly.below)
export(spc.identify)
export(spc.label.default)
export(spc.label.wlonly)
export(spc.loess)
export(spc.NA.linapprox)
export(spc.point.default)
export(spc.point.max)
export(spc.point.min)
export(spc.point.sqr)
export(stacked.offsets)
export(trellis.factor.key)
export(wc)
export(wl)
export("wl<-")
export(wl2i)
export(write.txt.long)
export(write.txt.wide)
importFrom(grDevices,rainbow)
importFrom(grid,popViewport)
importFrom(grid,pushViewport)
importFrom(grid,viewport)
import(graphics)
import(lattice)
import(methods)
import(stats)
S3method(seq,hyperSpec)
