S3method(as.data.frame,hyperSpec)
S3method(as.matrix,hyperSpec)
S3method(seq,hyperSpec)
export("$")
export("$<-")
export("%*%")
export("[")
export("[<-")
export("[[")
export("[[<-")
export("colnames<-")
export("labels<-")
export("rownames<-")
export("wl<-")
export(.DollarNames.hyperSpec)
export(alois.palette)
export(as.data.frame)
export(as.long.df)
export(as.matrix.hyperSpec)
export(as.t.df)
export(as.wide.df)
export(bind)
export(cbind.hyperSpec)
export(chk.hy)
export(chondro)
export(collapse)
export(colmix.rgb)
export(decomposition)
export(empty)
export(fitraster)
export(hy.getOption)
export(hy.getOptions)
export(hy.setOptions)
export(hy.unittest)
export(i2wl)
export(isample)
export(legendright)
export(logbook)
export(logentry)
export(makeraster)
export(map.identify)
export(map.sel.poly)
export(mark.dendrogram)
export(matlab.dark.palette)
export(matlab.palette)
export(normalize.colrange)
export(normalize.minmax)
export(normalize.range)
export(nwl)
export(orderwl)
export(pearson.dist)
export(plot)
export(plotc)
export(plotmap)
export(plotmat)
export(plotspc)
export(plotvoronoi)
export(pooled.cov)
export(qmixlegend)
export(qplotc)
export(qplotmap)
export(qplotmixmap)
export(qplotspc)
export(rbind.fill.matrix)
export(rbind.hyperSpec)
export(read.ENVI)
export(read.ENVI.Nicolet)
export(read.cytomat)
export(read.ini)
export(read.jdx)
export(read.jdx.Shimadzu)
export(read.spc)
export(read.spc.Kaiser)
export(read.spc.KaiserLowHigh)
export(read.spc.KaiserMap)
export(read.txt.Horiba)
export(read.txt.Horiba.t)
export(read.txt.Horiba.xy)
export(read.txt.Shimadzu)
export(read.txt.long)
export(read.txt.wide)
export(scan.dat.Witec)
export(scan.txt.Renishaw)
export(scan.txt.Witec)
export(scan.zip.Renishaw)
export(sel.poly)
export(seq.hyperSpec)
export(spc.NA.linapprox)
export(spc.bin)
export(spc.fit.poly)
export(spc.fit.poly.below)
export(spc.identify)
export(spc.label.default)
export(spc.label.wlonly)
export(spc.loess)
export(spc.point.default)
export(spc.point.max)
export(spc.point.min)
export(spc.point.sqr)
export(spc.rubberband)
export(spc.smooth.spline)
export(stacked.offsets)
export(trellis.factor.key)
export(vanderMonde)
export(wc)
export(wl)
export(wl.eval)
export(wl2i)
export(write.txt.long)
export(write.txt.wide)
exportClasses(hyperSpec)
exportMethods(Arith)
exportMethods(Compare)
exportMethods(Math)
exportMethods(Math2)
exportMethods(Summary)
exportMethods(aggregate)
exportMethods(all.equal)
exportMethods(apply)
exportMethods(as.character)
exportMethods(cbind2)
exportMethods(colMeans)
exportMethods(colSums)
exportMethods(colnames)
exportMethods(cov)
exportMethods(dim)
exportMethods(dimnames)
exportMethods(is.na)
exportMethods(labels)
exportMethods(length)
exportMethods(levelplot)
exportMethods(log)
exportMethods(mean)
exportMethods(mean_pm_sd)
exportMethods(mean_sd)
exportMethods(merge)
exportMethods(ncol)
exportMethods(normalize01)
exportMethods(nrow)
exportMethods(plot)
exportMethods(print)
exportMethods(quantile)
exportMethods(rbind2)
exportMethods(rmmvnorm)
exportMethods(rowMeans)
exportMethods(rowSums)
exportMethods(rownames)
exportMethods(sample)
exportMethods(scale)
exportMethods(show)
exportMethods(split)
exportMethods(subset)
exportMethods(summary)
exportMethods(sweep)
exportMethods(vanderMonde)
import(graphics)
import(lattice)
import(methods)
import(stats)
importFrom(grDevices,rainbow)
importFrom(grid,popViewport)
importFrom(grid,pushViewport)
importFrom(grid,viewport)
importFrom(mvtnorm,rmvnorm)
